head {
    color: midnightblue;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: azure;
}
h1 {
    color: midnightblue;
    font-family:'Courier New', Courier, monospace;
}
h2 {
    color: midnightblue;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    color: midnightblue;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
p {
    color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    size: 42px;
}
li {
    color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    size: 42px;
}
marquee {
    color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    width: 100%;
}
button {
    padding: 10px 20px;
    font-size: 1rem;
    color: lightseagreen;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: bisque;
    border-color: bisque;
    border-radius: 1rem;
    cursor: pointer;
}
div {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: navy;
}
label {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: navy;
}